*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  font-size: 62.5%;

  --primary-color: #293241;
  --secondary-color: #BFD7E4;
  --contrast-color: #F67669;
  --bg-color: #fff;
  --input-color: #FAFAFC;
}

body *{
  transition: all .25s;
}

body{
  display: grid;
  place-content: center;

  height: 100%;
  width: 100vw; 
  font-size: 1.6rem;

  font-family: 'Staatliches', cursive;

  background-color: var(--secondary-color);
}

body:before{
  display: flex;
  content: '';
  width: 100%;
  height: 36rem;
  background-color: var(--primary-color);
  position: absolute  ;
  z-index: -1;
}

.header p,
label,
input{
  font-family: 'Poppins', sans-serif;
  font-size: 1.4rem;
}

.container{
  max-width: 75rem;
  min-width: 320px;
}

header{
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;

  padding: 4rem 0;

  font-family: 'Staatliches';
  font-style: normal;
  font-weight: 400;

  font-size: 1.6rem;
  letter-spacing: 2px;

  color: var(--bg-color);
  background-color: var(--primary-color);
}

header svg{
  margin-bottom: 2.6rem;
}


header p{
  font-size: 1.2rem;
  letter-spacing: 1px;

}

form{
  border-radius: 2rem 2rem 0 0;
  background-color: var(--bg-color);
}

form > div:first-child {
  border-radius: 2rem 2rem 0 0;
  background-color: var(--contrast-color);
  color: var(--bg-color);

  font-size: 2.4rem;
  text-align: center;

  padding-block: 2.4rem;
}


.input-wrapper input,
.input-wrapper select,
.input-wrapper option{
  width: 100%;
  height: 5.6rem;
  border-radius: .8rem;
  padding-inline: .8rem;
  background-color: var(--input-color);
  outline: none;
  border: 1px solid #dadada;
}

input#checkbox {
  height: 3.1rem;
  width: 3.1rem;
}

.input-wrapper.checkbox-wrapper {
  display: flex;
  align-items: center;
  gap: 10px;
}

.input-wrapper.checkbox-wrapper *{
  margin: 0;
  font-size: 1.2rem;
}


.input-wrapper select{
  font-family: 'Poppins', sa;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  -ms-appearance: none;

  background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_1_54)'%3E%3Cpath d='M8 10L12 14L16 10' stroke='%239C98A6' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_1_54'%3E%3Crect width='24' height='24' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");

  background-repeat: no-repeat;
  background-position: center right;
}

textarea{
  padding: .8rem;
  resize: none;
  width: 100%;
  background-color: var(--input-color);
  border-radius: .8rem;
  border: 1px solid #dadada;
}

.input-wrapper label{
  display: flex;
  margin-bottom: 1rem;
}

.input-wrapper{
  margin-block: .8rem 2.4rem;
}


fieldset{
  border: none;
  padding-inline: 2.4rem;
}

legend{
  text-align: center;
  font-size: 2.4rem;
  padding-top: 5.7rem !important;
}

input[type="submit"]{
  margin: auto;
  width: 100%;
  height: 5.6rem;
  
  padding: 1.2rem 11.2rem; 
  margin-block: 3.2rem;
  border: none;
  
  text-transform: uppercase;
  font-family: 'Staatliches', sans-serif;
  
  background-color: var(--contrast-color);
  color: var(--input-color);

  border-radius: .8rem;
}


/*Queries*/

@media(min-width: 768px){
  form{
    min-width: 75rem;
    margin-bottom: 6rem;
    border-radius: 2rem;
  }

  form fieldset{
    padding-inline: 6.4rem;
  }

  input[type="submit"]{
    margin-bottom: 6rem;
  }

  .\32 fr {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3.2rem;
}

  .\33 fr {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    gap: 3.2rem;
  }

  input[type="submit"]{
    font-size: 2.4rem;
  }
}